#components{
  text-align: center;
}

button {
  margin: 5px;
  border-radius: 3px;
  color: #ffffff;
  font-size: 15px;
  background: #5b90b3;
  text-decoration: none;
  width:100px;
}

#question{
  margin: 25px;
}

#new-question{
  text-align: center;
  height:50px;
  border: dotted 1px black;
  padding-top: 10px;
}

#line-separator{
  height:1px;
  border-bottom:1px solid;
  margin: 20px;
}

#add {
  margin: 0 0 0 400px;
  border-radius: 3px;
  color: white;
  font-size: 15px;
  background: #a34444;
  text-decoration: none;
  width:50px;
  position: center;
}

#addOption {
  
  border-radius: 50%;
  color: white;
  font-size: 15px;
  background: #5F7EC1;
  text-decoration: none;
  height: 30px;
  width: 30px;
  position: center;
}

.question-name{
  width: 300px;
}
